# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Node.js
node_modules/
npm-debug.log

# Environment
.env
.env.local

# IDE
.idea/
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Dados e modelos
data/
model/
